*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main{
    background-color: black;
}
header{
    height: 5vh;
}
footer{
    background-color: rgb(29, 28, 28);
    height: 5vh;
}
main{
    height: ;
}
.top-corner{
    position: absolute;
    top: 10px;
    right: 10px;
}
header button{
    margin: 5px;
    border: 0;
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

main .bbg{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.mid-img{
    width: 250px;
    height: 150px;
    position: relative;
    padding: 2px;
}




.bot-button{
    display: flex;
    flex-direction: nowrap;
    justify-content: space-around;
}
.foot div{
    display: inline-block;
}
.rbot-txt{
    background-color: rgb(91, 88, 88);
}
.rbot-txt{
    color: red;
}